.counter{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-minus,.btn-plus{
    height: 50px;
    width: 50px;
    background-color: grey;
    font-size: 2.5rem;
}

