.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label{
    background-color: rgb(132, 134, 134);
    display: flex;
    height: 60px;
    width: 150px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 5px solid rgb(150, 253, 253);
    
}
.fa-moon{
    color: rgb(150, 253, 253);
    font-size: 1.9rem;
    padding-right: 20px;
    
}
.fa-sun{
    color: rgb(150, 253, 253);
    font-size: 1.9rem;
    padding-left: 20px;
    
}
.checkbox{
    display: none;
}
.checkbox:checked + .label .toggle-circle{
    transform: translateX(65px);
}
.toggle-circle{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 45px;
    width: 70px;
    background-color: whitesmoke;
    border-radius: 50px;
    transition: transform 0.3s linear;
    box-shadow: 0px 0px 9px 0px inset black;
    border: 3px solid black;
}
/* .toggle-circle:hover{
    left: 75px;
    right: 5px;
    transition: 1s;
    background-color: yellow;
} */