/* .main{
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: repeat(4,80px);
    background-color: brown;
    
    
} */

span{
    font-size:1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#box{
    margin-top: 10px;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
    height: 25px;
    font-size: 1.2rem;
    width: 210px;
    display: flex;
}
#red,#blue,#green{
    width: 200px;
    display: flex;
}
#red{
    /* color: brown;
    background-color: blueviolet;
    background: linear-gradient(black,red); */
}
.main{
    height: 100vh;
    width: 100vw;
    
}
 